
<body>
  <div class="row-fluid">
  <div class="well span12">
    <div class="span2">
      <img src="../img/profile_pic.png"></img>
    </div>
    <div class="span10">

      <div class="controls">
          <div class="input-prepend">
            <span class="add-on">
              <i class="icon-user"></i>
            </span>
            <span class="add-on" style="width:220px">
              <h5 class="pull-left"><%= %></h5>
            </span>
          </div>
      </div>

      <div class="controls">
          <div class="input-prepend">
            <span class="add-on">
              <i class="icon-envelope"></i>
            </span>
            <span class="add-on" style="width:220px">
              <h5 class="pull-left"><%= %></h5>
            </span>
          </div>
      </div>

      <div class="controls">
          <div class="input-prepend">
            <span class="add-on">
              <i class="icon-"></i>
            </span>
            <span class="add-on" style="width:220px">
              <h5 class="pull-left"><%= %></h5>
            </span>
          </div>
      </div>

    </div>
  </div>
  </div>
</body>