
<body>
  <div class="row-fluid">
  <div class="well span12">
      <a href="" class="pull-right vertical" style="margin-top:10px"><i class="icon-trash"></i></a>
      <h1>#iPhone5</h1>
      <br>
      <h5>Official: <a href="http://www.twitter.com/apple">@apple</a> <i class="icon-ok-sign"></i></h5>
      <h5>Release Date: 12th Sept, 2012 <i class="icon-ok-sign"></i></h5>
      <div class="progress progress-striped
     active">

       <h6 class="pull-right">35 days left</h6>
       <div class="bar"
       style="width: 64%;"></div>
    </div>
  <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'search',
  search: '#iPhone5 lang:en',
  interval: 30000,
  title: '',
  subject: '',
  width: 'auto',
  height: 'auto',
  theme: {
    shell: {
      background: '#088ac7',
      color: '#ffffff'
    },
    tweets: {
      background: '#ffffff',
      color: '#444444',
      links: '#05577a'
    }
  },
  features: {
    scrollbar: true,
    loop: false,
    live: true,
    behavior: 'all'
  }
}).render().start();
</script>
  </div>
  </div>
</body>
